@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

@keyframes spin {
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}

.center {
  width: 28px;
  position: absolute;
  right: 45%;
  bottom: 45%;

}

.hand {
  width: 14px;
  position: absolute;
}

.hand-hour {
  transform-origin: bottom;
  animation: spin 3s linear infinite;
  right: 47%;
  top: 30%;
}

.hand-minute {
  transform-origin: bottom;
  animation: spin .5s linear infinite;
  right: 47%;
  top: 23%;

}
