@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  bottom: 50%;
  top: 45%;
  left: 46%;
  position: absolute;
  
}

.hand {
  width: 14px;
}

.hand-hour {
  animation: spin 6s infinite linear;
  position: absolute;
  top: 30%;
  left: 48%;
  transform-origin: top;

}

.hand-minute {
  animation: spin 1s infinite linear;
  left: 48%;
  top: 50%;
  position: absolute;
  transform-origin: top;

}


