@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  left: 47%;
  top: 43%;
  z-index: 10;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  left: 49%;
  top: 32%;
  transform-origin: bottom;
  animation: spin 8s infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.hand-minute {
  position: absolute;
  left: 49%;
  top: 28%;
  transform: rotate(40deg);
  transform-origin: bottom;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
