@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  top: 8.5rem;
  left: 8.5rem;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  top: 9.5rem;
  left: 8.9rem;
  animation: spin 5s linear infinite;
  transform-origin: top;

}

.hand-minute {
  position: absolute;
  top: 9.5rem;
  left: 8.9rem;
  animation: spin 2s linear infinite;
  transform-origin: top;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
