@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: relative;
  align-content: center;
  top: 28%;
  left: 35%;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: relative;
  top: 42.5%;
  left: 49%;
  width: 14px;
  animation: spin 5s linear infinite;
  transform-origin: center .10px;
}

.hand-minute {
  position: relative;
  top: 50%;
  left: 44%;
  animation: spin .5s linear infinite;
  transform-origin: center .10px;
}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}
