@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;

    position: relative;
}

.center {
  width: 28px;

  position: absolute;
  bottom: 135px;
  left: 45%;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  bottom: 147px;
  left: 47%;
  transform-origin: center bottom;
  animation: hour 5s infinite linear;
}

@keyframes hour {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.hand-minute {
  position: absolute;
  bottom: 150px;
  left: 48%;
  transform: rotate(35deg);
  transform-origin: center bottom;
  animation: minute .55s infinite linear;
}

@keyframes minute {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
