@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 300px;
  margin: 50px auto;
  width: 300px;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.clock-face:target .hand-hour {
  transform: rotate(360deg);
}

.center {
  width: 28px;
  position: absolute;
  bottom: calc(50% - 14px);
  left: calc(50% - 14px);
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  bottom: calc(50% - 14px);
  left: calc(50% - 14px);
  width: 28px;
}

.hand-minute {
  position: absolute;
}

.bottom {
  padding-bottom: 17em;
}
