html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  width: 28px;
  top: 135px;
  position: absolute;
  left: 135px;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  top: 147px;
  left: 142px;
  animation: rotate 6s infinite linear;
  transform-origin: top;
}

.hand-minute {
  position: absolute;
  top: 147px;
  left: 142px;
  animation: rotate 0.5s infinite linear;
  transform-origin: top;
}

@keyframes rotate {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
