@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  left: calc(50% - 14px);
  top: calc(150px - 14px);
  z-index: 5;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  left: calc(50% - 7px);
  top: calc(150px - 58px);
}

.hand-minute {
  position: absolute;
  left: calc(50% - 7px);
  top: calc(150px - 86px);
}
