@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;

  position: relative;
}

.center {
  width: 28px;
  position: absolute;
  left: 45%;
  top: 45%;
}

.hand {
  width: 14px;
  position: absolute;
  left: 47.5%;
  top: 50%;
}

.hand-hour {
  transform-origin: top;
  animation: spin 2s infinite linear;
}

.hand-minute {
  transform-origin: top;
  animation: spin 0.5s infinite linear;
}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
