@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

@keyframes spin{

  0% {transform: rotate(0deg); }

  100% { transform: rotate(360def); }
}

.center {
  width: 28px;
  z-index: 50;
  top: 135px;
  left: 135px;
  position: absolute;
}

.hand {
  width: 14px;
}

.hand-hour {
transform-origin: bottom;
animation: spin 7s infinite linear;
top: 20%;
left: 49%;
position: absolute;
z-index: 3;
}

.hand-minute {
transform-origin: bottom;
animation: spin 7s inifinite linear;
top: 15%;
left: 49%;
position: absolute;
z-index: 3;
}
