@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  top: 186px;
  left: calc(50% - 14px)
}

.hand {
  width: 14px;

}

.hand-hour {
  position: absolute;
  top: 17%;
  left: calc(50% - 7px);

}

.hand-minute {
  position: absolute;
  top: 13%;
  left: calc(50% - 7px);
}

@keyframes spin-hour {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hand-hour {
  animation: spin-hour 12s linear infinite;
  transform-origin: bottom;
}


@keyframes spin-minute {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hand-minute {
  animation: spin-minute 1s linear infinite;
  transform-origin: bottom;
}
