@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  position: absolute;
  width: 28px;
}

.hand {
  position: absolute;
  width: 14px;
}

.hand-hour {
  position: absolute;
  left: 16.4em;
  top: 10em;
  animation: orbit 10s linear;
}

.hand-minute {
  animation: orbit 3s linear;
}

@keyframes orbit {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
