html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  right: 47%;
  top: 26%;
  z-index: 10;
}

.hand {
  width: 14px;
  position: absolute;
  padding: 0;
}

.hand-hour {
  position: absolute;
  left: 49%;
  top: 20%;
  animation: spin 3s infinite linear;
  transform-origin: bottom;
}

.hand-minute {
  position: absolute;
  left: 49%;
  top: 16%;
  transform: rotate(40deg);
  animation: spin 1s infinite linear;
  transform-origin: bottom;
}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }

}
