@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  position: relative;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  right: calc(50% - 14px);
  top: calc(50% - 14px);
}

.hand {
  width: 14px;
  bottom: 50%;
  right: calc(50% - 7px);
  position: absolute;
}

.hand-hour {
  transform-origin: bottom;
  animation: spin 6s infinite linear;
}

}

.hand-minute {
  transform-origin: bottom;
  animation: spin .5s infinite linear;

}

@keyframes spin {

  transform-origin: right bottom;
  animation: spin 1s infinite alternate;
