@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
  position: relative;
}

.center {
  width: 28px;
  position: absolute;
  top: 45.5%;
  left: 45.5%;
  z-index: 1000;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: absolute;
  top: 31%;
  left: 47.7%;
  transform-origin: center bottom;
  animation: spin1 30s infinite linear;
}

@keyframes spin1 {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }}

.hand-minute {
  position: absolute;
  top: 22.5%;
  left: 47.7%;
  transform-origin: center bottom;
  animation: spin2 30s infinite linear;
}

@keyframes spin2 {
0% { transform: rotate(0deg); }
100% { transform: rotate(4320deg); }}
