@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: absolute;
  left: 135px;
  top: 135px;
}

.hand {
  width: 14px;

}

.hand-hour {
  position: absolute;
  left: 140px;
  top: 90px;
  transform-origin: center bottom;
  animation: hour 3000ms linear infinite;
}

@keyframes hour {

  0% {
    transform: rotate(-360deg);
  }
}

.hand-minute {
  position: absolute;
  left: 140px;
  top: 65px;
  transform-origin: center bottom;
  animation: minute 1500ms linear infinite;
}

@keyframes minute {

  0% {
    transform: rotate(-360deg);

  }
}
