@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  position: relative;
  left: 33%;
  top: 25%;
}

.hand {
  width: 14px;
}

.hand-hour {
  position: relative;
  left: 47%;
  top: 20%;
  animation: spin 2s linear infinite;
  position: relative;
  transform-origin: bottom;
}

.hand-minute {
  animation: spin 1s linear infinite;
  position: relative;
  transform-origin: bottom;
  left: 41%;
  top: 19%;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}
